@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 15px;
}

header {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    position: relative;
}

header figure{
    text-align: left;
}

figure#logo {
    width: 100%;
}

figure#logo img{
    width: 50px;
    text-align: left;
}

nav span#menu {
    text-align: center;
    text-align: right;
    font-size: 2.8em;
}

menu#itens {
    text-align: center;
    font-size: 1.2em;
}

menu#itens ul li{
    text-align: center;
    padding: 5px;
}

a{
    color: rgba(128, 128, 128, 0.767);
}

main {
    display: flex;
    flex-direction: column;
}

main section figure img {
    width: 100%;
}

main section#section-main-first {
    display: flex;
    margin: auto;
    flex-direction: column;
}

main section#section-main-first section {
    margin-top: 10px;
}

main section#section-main-first section h2{
    font-size: 2.5em;
    width: 200px;
    color: rgb(41, 2, 112);
}
main section#section-main-first section div{
    width: 100%;
}

main section#section-main-first section div p {
    font-size: 1.2em;
    text-align: left;
    margin-top: 10px;
}

main section#section-main-first button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgba(250, 99, 28, 0.89);
    color: white;
    font-weight: bolder;
    margin-top: 10px;
}

main section#section-main-second {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 280px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(43, 1, 82);
    color: white;
    padding: 15px;
}

main section#section-main-second h2{
    color: rgb(255, 217, 0);
}


main section#section-main-second .div-section h3{
    font-size: .8em;
    margin-top: 8px;
    padding-top: 15px;

}

main section#section-main-second .div-section p{
    font-size: .6em;
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: solid 1px white;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer section.section-footer{
    display: flex;
    margin: auto;
}

footer section.section-footer{
    padding-bottom: 15px;
}

footer section.section-footer div{
    width: 268px;
    padding-left: 10px;
}

footer section.section-footer div h3{
    color: grey;
    font-size: 1.8em;
}

footer section.section-footer div p{
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer section.section-footer div article{
    font-size: 1.2em;
    text-align: left;
}

footer section.section-footer img{
    width: 120px;
}